version: '3'

services:
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    environment:
      - MYSQL_ROOT_PASSWORD=123456
    volumes:
      - ./docker/mysql:/var/lib/mysql
      - ./install.sql:/install.sql
  phpfpm:
    image: bitnami/php-fpm
    volumes:
      - .:/app
  nginx:
    image: nginx
    depends_on:
      - phpfpm
    volumes:
      - .:/app
      - ./docker/nginx:/etc/nginx/conf.d
    ports:
      - 8964:80

